.postlist-wrapper{
    margin-left:15%;
    margin-right:15%;

}
.images{
    width: 100%;
    height: 65%;
}
.article-wrapper{
    display: flex;
    padding-top:40px;

}
.featured-container{
    transition: 1s;

    width: 280px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:20px
}
.post-title{
    padding-top: 10px;
    font-size: 18px;
    text-decoration: none;
    color: black;

}
.post-text{
    text-align: left;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    line-break: auto;    
    word-wrap: break-word;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3; 
    max-width: 100%;
}
@media screen and (max-width: 670px){
    .landing-wrapper{
        margin-left: 0;
        margin-right: 0;
    }
    .featured-wrapper{
        display: flex;
        flex-direction: column;
    }
    .featured-container{
        width: 100%;
        padding:20px;
        height:100%;
    }
}

